footer {margin-top:3em;}
.glyphicon-fire {color:$brand-primary;}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/
body {
  /* Margin bottom by footer height */
  //margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #5c5c5c;
  color: #fff;

  .text-muted {
    color: #fff;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.centered{
  margin: 0 auto;
}

.grey-background {
  background-color: #f8f8f8;
}
.light-blue {
  background-color: #d0e7e9;
}
.padding {
  padding: 1em;
}

/*.nature-background {
  background: url("/img/dawn-dusk.jpg") no-repeat center;
  background-size: cover;
}*/

.no-margin {
  margin: 0;
}
html {
  background: url(/img/dawn-dusk.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.no-background {
  background: none;
}

h1 {
  color: #fff;
}